@media print { 
	@article {
/* 		margin: 3cm; */
		margin-top: 5cm;
	}
	*, *:before, *:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}

	/* 	abbr[title]::after { */
	/* 		content: " (" attr(title) ")"; */
	/* 	} */
	/* 	a[href^="#"]::after, a[href^="javascript:"]::after { */
	/* 		content: ""; */
	/* 	} */
	ul, img, section {
		page-break-inside: avoid;
	}
	#footer img {
		display: none;
	}
	#footer a {
		display: block;
		text-align: left;
	}
	#footer a[href]::before {
		content: attr(title);
	}
	#footer	a[href]:after {
		content: " (" attr(href) ")";
	}
}