@media print { @
	article {
		margin: 3cm;
		margin-top: 5cm;
	}
	*, *:before, *:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited {
		text-decoration: none;
	}
	ul, img, section {
		page-break-inside: avoid;
	}
	#footer {
		margin: auto;
		width: 100%;
	}
	#footer img {
		display: none;
	}
	#footer a {
		display: block;
	}
	#footer a[href]::before {
		content: attr(title);
		text-decoration: none;
	}
	#footer	a[href]::after {
		content: " " attr(href);
	}
}